body{
    background-color:#674BAF;
    background-image: url(images/bg-desktop.svg);
}

.container{
    width:1440px;
    margin-left: auto;
    margin-right: auto;
}

header{
    min-height: 100px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.logo img{
    width: 70%;
}

main{
    min-height: 500px;
    display: flex;
}

.herobox1{
    width:50%;
    padding:50px 50px 0 50px;
}

.herobox2{
    width:50%;
    padding-top:80px;
    padding-left: 40px;
}

h2{
    width: 65%;
    line-height:1.5;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2rem;
}

p{
    width: 78%;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size:1rem;
    margin-bottom: 30px;
}

.register{
    color:#674BAF;
    background-color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding:13px 55px 13px 55px;
    border-radius: 28px;
    box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.219);
}

.register:hover{
    color: white;
    background-color: #E882E8;
}

.fb{
    width:3%;
    margin-left:1250px;
    margin-right: 10px;
    filter: invert(78%) sepia(99%) saturate(0%) hue-rotate(266deg) brightness(109%) contrast(101%);
}

.socials a:hover{
    filter: invert(72%) sepia(53%) saturate(1034%) hue-rotate(240deg) brightness(95%) contrast(91%);
    /* very important new concept learnt of how to change svg colors using filters  */
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    /* use above website to get all filter values by inputing the hexcode of the color you want  */
}

.twitter{
    width:3%;
    margin-right: 10px;
    filter: invert(78%) sepia(99%) saturate(0%) hue-rotate(266deg) brightness(109%) contrast(101%);
}

.insta{
    width:3%;
    filter: invert(78%) sepia(99%) saturate(0%) hue-rotate(266deg) brightness(109%) contrast(101%);
}

.socials{
    padding-top: 20px;
}








